body{
    background-color: lightyellow;
    font-family: cursive;
}
#content{
    background: lightyellow;
  }
  
  .columns-all{
     display: flex;
  }

  #main-header{
    position: relative;
    color: black;
  }
  #main-header h1{
    text-align: center;
  }
  #main-header a{
    text-decoration: none;
    color: black;
  }
  
  #main-img{
    margin-right: 5px;
  }
  
  .col1of2{
    background-color: rgb(80, 80, 80);
    padding:5px;
    margin:20px auto;
    border-radius:10px;
    
}

.col1of3{
    background-color: gray;
    padding:5px;
    margin:20px;
    border-radius:25px;
    img{
        border-radius: 25px;
    }
}
.col1of2 h2{
    text-align: center;
}
  
  /*top menu*/
  #top-menu{
    width:fit-content;
    /*where its located on the screen*/
    position: absolute;
    top:3%;
    right:3%;
  }
  
  #top-menu ul{
    padding-left: 0;
    display: none;
  
  }
  
  #top-menu li{
    list-style-type: none;
    padding: 5px;
  }
  
  #top-menu a{
    text-decoration: none;
    color: black;
  }
  
  #top-menu a:hover{
    text-decoration: underline;
  
  }
  
  /*nav*/
  #main-nav ul {
    padding-left:0;
  }
  
  #main-nav li {
    list-style:none;
    background: gray;
    padding: 5px;
    margin: 0.5;
    border-bottom: solid black;
  }
  
#main-nav a{
    text-decoration: none;
    color: black;
    display:block;
  }

    /*larger resolutions*/
@media only screen and (min-width:600px){
    #content{
      width: 100%;
      margin: auto;
  }
  
  .columns{
    display: flex;
  }
  #top-menu ul{
    display: flex;
  }
  
  #main-nav ul{
    display: flex;
  }
  
  #main-nav li{
    flex: 1;
  }
  #main-nav ul{
    display:flex;
  }
}